.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-title {
    font-family: 'Playfair Display',
        serif;
    color: white;
    font-size: 10rem;
    text-align: center;
}

.intro-text {
    font-family: 'Playfair Display',
        serif;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.box {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: absolute;
    top: 0;
}

.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
}

.project-title {
    font-family: 'Playfair Display',
        serif;
    color: white;
    font-size: 7rem;
    text-align: center;
    padding-bottom: 60px;
}

.projects-container {
    padding: 60px;
}

.contact-text {
    font-family: 'Playfair Display',
        serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.box-two {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
}

.zoom {
    padding: 20px;
    background-color: white;
    transition: transform .2s;
    margin: 0 auto;
    border-style: solid;
    border-color: #01f9c6;
    border-width: 4px;
}

.zoom:hover {
    transform: scale(0.9);
}

@media screen and (max-width: 600px) {
    .navbar-nav>li {
        display: block;
    }

    .main-title {
        font-size: 3rem;
        padding-bottom: 25%;
    }

    .intro-text {
        font-size: 2rem;
    }

    .project-title {
        font-size: 2rem;
    }

    .contact-section {
        padding-left: 20%;
        padding-right: 20%;
        height: fit-content;

    }

    .contact-text {

        -webkit-line-clamp: 13;
        display: -webkit-box;
        line-height: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.5rem;
        font-size: medium;
    }

    .second-card {
        padding-top: 40px;
    }
}